.post-content {
    display: flex;
    margin-top: 05px;
    margin-left: 10px;
   
}
.border
{
    display: flex;
    flex-direction: row;
    margin: 10px 05px 10px 10px;
    width: 97%;
    border-bottom: 1px solid #eee;
}