
.post-comment img{
    width: 40px;
    height: 40px;
    border-radius: 50%;     
 }
 
 .post-comment {
   margin-top: 20px;
   display: flex;
 }
 
 .post-comment p {
   border-radius: 20px;
   background: #eeeeee;
   margin-left: 10px;
   padding: 15px;
   font-size: 14px;
 }
 
 .post-comment span {
   font-weight: bold;
   margin-right: 6px;
 }
